<% unless @users.nil?%>
  <table>
    <tr>
        <th> Nome </th>
        <th> CPF </th>
        <th> Cargo </th>
        <th> E-mail </th>
    </tr>
    <% @users.each do |u| %>
      <tr>
          <td><%= u.name %></td>
          <td><%= u.cpf %></td>
          <td><%= u.role %></td>
          <td><%= u.email %></td>
      </tr>
    <% end %>
  </table>
<% end %>
