
<%= link_to path, class: "text-muted d-inline-block my-2 mx-3" do %>
  <div class="fa-4x">
    <span class="fa-layers fa-fw">
      <i class="fas fa-circle text-primary" data-fa-transform="shrink-2"></i>
      <i class="fa-inverse <%= icon %>" data-fa-transform="shrink-10"></i>
    </span>
  </div>
  <span><%= label %></span>
<% end %>
